apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: worker
  name: worker-storage
spec:
  config:
    ignition:
      version: 3.2.0
    storage:
      filesystems:
        - device: /dev/mapper/root
          format: xfs
          label: root
          wipeFilesystem: true
      luks:
        - clevis:
            tang:
              - thumbprint: 1X6739w1l-_l3ysBy3JF0eU2Yyg
                url: http://193.168.200.135:80
              - thumbprint: dTJYExQa7sIOiLlqEL4aIY7wHck
                url: http://193.168.200.70:80
              - thumbprint: u0lTFO6FQlo3AV_EpRDloW7i6Bk
                url: http://193.168.200.37:80
            threshold: 1
          device: /dev/disk/by-partlabel/root
          label: luks-root
          name: root
          options:
            - --cipher
            - aes-cbc-essiv:sha256
          wipeVolume: true
  fips: true
