apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: worker
  name: worker-storage
spec:
  config:
    ignition:
      version: 3.2.0
    storage:
      filesystems:
        - device: /dev/mapper/root
          format: xfs
          label: root
          wipeFilesystem: true
      luks:
        - clevis:
            tang:
              - thumbprint: xYHq59-Tpu6U-ywczDxEbKyyJqE
                url: http://193.168.200.79:80
              - thumbprint: o0RunAd6q_jeW2ejkN2uaBAaEgU
                url: http://193.168.200.236:80
              - thumbprint: mhtujWiDkzeV4rD6OFYzqoF7pOQ
                url: http://193.168.200.68:80
            threshold: 1
          device: /dev/disk/by-partlabel/root
          label: luks-root
          name: root
          options:
            - --cipher
            - aes-cbc-essiv:sha256
          wipeVolume: true

